html {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.background {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.jpg');
}

ul {
  font-size: 18px;
  color: white;
}

.process {
  font-size: 32px;
  font-weight: bold;
}

#subtitles {
  font-size: 23px;
  font-weight: bold;
}

#info {
  font-size: 14px;
}

.design {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.jpg');
}

.brand {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
